<!DOCTYPE html>
{% extends 'backindex.html' %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="card rounded-0 border-0">
        <div class="card-body">
            <h4 class="card-title">DISPLAY TEAM MEMBER DETAILS</h4>
            <div class="table-responsive pt-3">
                <table class="table table-bordered text-uppercase">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Social 1 [X]</th>
                            <th>Social 2 [Meta]</th>
                            <th>Social 3 [Linkedin]</th>
                            <th>Social 4 [Instagram]</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in team %}
                        <tr>
                            <td>{{i.Name}}</td>
                            <td>{{i.Designation}}</td>
                            <td class="text-lowercase">{{i.Social_1}}</td>
                            <td class="text-lowercase">{{i.Social_2}}</td>
                            <td class="text-lowercase">{{i.Social_3}}</td>
                            <td class="text-lowercase">{{i.Social_4}}</td>
                            <td>
                                <img src="{{i.Image.url}}">
                            </td>
                            <td>
                                <form action="{% url 'teamedit' teamid=i.id %}">
                                    <button type="submit" class="btn btn-success" onclick="EditFn()">Edit</button>
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'deleteteam' teamid=i.id %}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Alert Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
    {% for i in messages %}
    {% if i.tags == 'success' %}
    <script>
        swal('{{i}}', '', 'success')
    </script>
    {% elif i.tags == 'error' %}
    <script>
        swal('{{i}}', '', 'error')
    </script>
    {% elif i.tags == 'warning' %}
    <script>
        swal('{{i}}', '', 'warning')
    </script>
    {% else %}
    <script>
        swal('{{i}}', '', 'info')
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    <script>
        function EditFn() {
            alert("Edit Team members ?")
        }
    </script>

</body>

</html>
{% endblock %}