<!DOCTYPE html>
{% extends 'backindex.html' %}
{% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>

  <div class="card rounded-0 border-0">
    <div class="card-body">
      <h4 class="card-title">EDIT TYPE OF FREIGHT</h4>

      <form class="forms-sample" action="{% url 'typeUpdate' TypeId=type.id %}" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label>Edit Type Name</label>
          <input type="text" class="form-control" placeholder="Type Name" name="typename" value="{{type.TypeName}}"
            required>
        </div>

        <div class="form-group">
          <label>Edit Main Paragraph [Required] </label>
          <textarea name="typedesc" class="form-control text-capitalize" style="height: 16rem;"
            required>{{type.TypeDesc}}</textarea>
        </div>

        <div class="form-group">
          <label>Edit First Paragraph [Required]</label>
          <textarea name="typedesc1" class="form-control text-capitalize" style="height: 16rem;"
            required>{{type.TypeDesc_P1}}</textarea>
        </div>

        <div class="form-group">
          <label>Edit Second Paragraph [Required]</label>
          <textarea name="typedesc2" class="form-control text-capitalize" style="height: 16rem;"
            required>{{type.TypeDesc_P2}}</textarea>
        </div>

        <div class="form-group">
          <label>Edit Third Paragraph [Required]</label>
          <textarea name="typedesc3" class="form-control text-capitalize" style="height: 16rem;"
            required>{{type.TypeDesc_P3}}</textarea>
        </div>

        <div class="form-group">
          <label>Edit Fourth Paragraph [Required]</label>
          <textarea name="typedesc4" class="form-control text-capitalize" style="height: 16rem;"
            required>{{type.TypeDesc_P4}}</textarea>
        </div>

        <div class="form-group">
          <label>Edit Fifth Paragraph [If added/needed]</label>
          <textarea name="typedesc5" class="form-control text-capitalize"
            style="height: 16rem;">{{type.TypeDesc_P5}}</textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-icon-text me-2">
          <i class="ti-file btn-icon-prepend"></i>
          <span>Submit</span>
        </button>

        <button type="reset" class="btn btn-warning btn-icon-text">
          <i class="ti-reload btn-icon-prepend"></i>
          <span>Reset</span>
        </button>

      </form>
    </div>
  </div>

</body>

</html>
{% endblock %}